<img class="logo" src="/logo-white.png" alt="logo" />
	<section class="cards">
	{{#each users}}
		<div class="container login" onclick="location.href='/users/{{id}}';">
        <img src="{{image}}" alt="" />
        <h2 href="/users/{{id}}">{{name}}</h2>
      </div>
	{{/each}}
	</section>
</div>
